// Couleurs
$primary-blue: #0C4E8C;
$secondary-blue: #11C4D4;
$tertiary-blue: #D9FAFD;
$black: #1C1C31;
$white: #FFFFFF;
$dark-grey: #7D7D86;
$grey: #E5E5E8;
$light-grey: #F9F9FA;

// Typographie
$font-stack: "Montserrat", sans-serif;

// Hauteurs
$header-height: 96px;
$footer-height: 121px;